@use '../abstract/variables' as *;
@use '../abstract/functions' as *;

main {
  padding: 0 rem(20) rem(27);
  margin: 0 auto;
  width: 100%;

  @media #{$medium-screen} {
    padding: 0 rem(50) rem(50);
  }
  @media #{$x-large-screen} {
    max-width: $site-max-width;
    padding: 0 rem(100) rem(50);
  }
}
