@use '../../../assets/styles/abstract/variables' as *;
@use '../../../assets/styles/abstract/functions' as *;

.slider__btn {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;

  width: rem(24);
  top: rem(116);
  padding: rem(2) rem(6);

  @media #{$large-screen} {
    width: rem(96);
    top: rem(148);
    padding: rem(8) rem(25) rem(32);
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  &__image {
    width: 100%;
  }
}
