// ######## COLORS ##########
$primary-red: #ff6060;

// ######## GRADIENTS ##########
// $layer-gradient: linear-gradient(rgb(255, 255, 255), #0A0A0A 42%, rgba(4, 4, 4, 0.41))

// ######## TYPOGRAPHIE ##########
$base-font: 'Montserrat', sans-serif;

// ######## LAYOUT ########
$site-max-width: 1440px;

// ######## RESPONSIVE BREAKPOINTS ##########
$small-screen: 'only screen and (min-width: 376px)';
$medium-screen: 'only screen and (min-width: 768px)';
$large-screen: 'only screen and (min-width: 1024px)';
