@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;

.housings {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: rem(255);
  gap: rem(20);
  margin-top: rem(22);

  @media #{$medium-screen} {
    grid-template-columns: 1fr 1fr;
    column-gap: rem(60);
    row-gap: rem(50);
    margin-top: rem(43);
    padding: rem(56) rem(50) rem(43);
    border-radius: rem(25);
    background-color: $background-grey;
  }

  @media #{$plus-large-screen} {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: rem(340);
  }
}
