@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;
@use '../../assets/styles/abstract/mixins' as *;
.housing {
  position: relative;
  height: 100%;

  &::after {
    @include overlay;
    background: $overlay-gradient;
    border-radius: 10px;
  }

  img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    border-radius: rem(10);
  }

  h2 {
    position: absolute;
    z-index: 1;
    bottom: rem(20);
    left: rem(20);
    width: 50%;
    font-size: rem(18);
    font-weight: 700;
    color: white;
  }
}
