@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/abstract/functions' as *;

.host {
  display: flex;
  align-items: center;

  &__name {
    span {
      display: block;
      font-size: rem(12);
      font-weight: 500;
      color: $primary-color;
      text-align: right;
      line-height: 1.4;

      @media #{$large-screen} {
        font-size: rem(18);
      }
    }
  }

  &__picture {
    border-radius: 50%;
    width: rem(32);
    height: rem(32);
    margin-left: rem(10);

    @media #{$large-screen} {
      width: rem(64);
      height: rem(64);
    }
  }
}
