@use 'sass:math';

// CALCULATE REM
@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

// CALCULATE POSITION OF ITEMS ON A CIRCLE
@function circle-position($index, $total, $radius, $center) {
  // calculate angles in degres and convert into radians (360° for $total elements)
  $angle: math.div(360deg, $total) * ($index - 1);
  $radians: math.div($angle, 1rad);

  // Calculate top and left position using sin and cos
  $left: $center + ($radius * math.cos($radians));
  $top: $center + ($radius * math.sin($radians));

  @return ($top, $left);
}
