@use '../abstract/variables' as *;
@use '../abstract/functions' as *;

/* ####### RESET ####### */

* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  margin: 0;
}

// ######## GENERAL ##########
body {
  font-family: $base-font;
  margin: 0 auto;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
